@import '../../assets/styles/abstracts/vars.scss';

.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__title {
  font-size: 4rem;
  color: $color-light;
}
